html {scroll-behavior: smooth;}
/* https://code-boxx.com/html-css-news-ticker-horizontal-vertical */
.vwrap, .vitem {
  height: 30px;
  line-height: 30px;
  color: white;
  background: black;
  font-size:x-large;
  white-space: nowrap;
}
.vwrap {
  overflow: hidden;
  margin: 10px 20px 0px 20px;
}
.vitem {
  text-align: left;
}
.vmove {position: relative;}
@keyframes tickerv {
  0% {bottom: 0;}
  16% {bottom: 30px;}
  32% {bottom: 60px;}
  48% {bottom: 90px;}
  64% {bottom: 120px;}
  80% {bottom: 150px;}
  100% {bottom: 0;}
}
.vmove {
  animation-name: tickerv;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.vmove:hover { animation-play-state: paused; }
  
.bg {
  background-image: url("https://kep.pince.eu/alak11sz_tegla.webp");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tlan {display:none}

.vonal {
  margin:10px 20px;
	height:2px;
  width:90%;
  border-bottom:1px solid goldenrod
}

body {
	font-family: Calibri;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: black;
	display: flex;
	flex-flow: column nowrap;
	padding: 0;
	margin: 0;
	height: auto;
	width: 100%;
}

.background {
  width: 100%;
	min-height: 250px;
	height: 100vh;
	margin: 0;
}

#container {
	display: flex;
	flex-flow: column wrap;
	position: absolute;
	top: -32px;
	text-align: left;
	width: 100%;
	min-height: 250px;
	height: inherit;
	margin: 0;
	background-color: transparent;
}

.down {
	display: flex;
	justify-content: left;
}

.deta {
	text-align: left;
	align-self: flex-start;
	margin: 10px 20px 0px 20px;
	color: lightgrey;
	font-size: 26px;	
	text-decoration: none;
	max-width: 95%;
}

dl {
	position: relative;
	margin-left: 0px;
}

dd {
	font-size: 20px;
}

#menu > span {
	position: absolute;
	top: 0;
	width: auto;
	height: auto;
	font-size: 40px;
	color: white;
	margin: 5px 10px;
}

@media only screen and (max-width: 696px) {
	header {
		display: flex;
		flex-flow: column nowrap;
		position: absolute;
		top: 32px;
		margin: 0px;
		width: auto;
		height: auto;
		background-color: black;
		opacity: 60%;
	}

	header a {
		text-decoration: underline;
	}

	header a:hover {
		color:rgb(235, 37, 103);
	}

	h1 {
		display: flex;
		margin: 10px 20px 5px 20px;
		line-height: 40px;
		font-size: 35px;
		font-weight: 400;
		color: lightgrey;
		width: 90%;
	}

	h2 {
		display: flex;
		flex-flow: row wrap;
		justify-content: left;
		width: 90%;
		font-size: 20px;
		font-weight: 400;
		font-style: italic;
		text-align: left;
		margin: 20px 20px 5px 20px;
		color: lightgrey;
	}	

	.down > span {
		position: relative;
		top: 85vh;
		width: auto;
		height: auto;
		font-size: 80px;
		color: white;
		margin: 5px 10px;
	}

	.menu-container {
		position: relative;
		top: 20%;
		display: flex;
		flex-flow: column wrap;
		min-width: 25%;
		max-width: 30%;
		height: auto;
		margin: 5px 40px;
		background-color: white;
		opacity: 80%;
		text-decoration: none;
	}
	
	.wine {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: left;
		text-align: left;
		margin: 7px 0px;
		color: lightgrey;
		font-size: 12px;	
		text-decoration: none;
		width: 90%;	
	}

	dt {
		font-size: 20px;
	}

	a > span {
		margin: 0px 10px 0px 0px;
	}

	a {
		text-align: left;
		align-self: flex-start;
		margin: 0px 0px;
		color: lightgrey;
		font-size: 20px;	
		text-decoration: none;
		max-width: 95%;
	}
	
	.box-text-index-left > p {
		text-align: left;
		font-size: 20px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod;
	}
	
	.box-text-index > p {
		text-align: justify;
		font-size: 20px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod;
	}

	.box-text-index a {
		color: goldenrod;
		font-size: 20px;
		font-weight: 400;
		text-decoration: underline;
		margin: 0;
	}

	td {
		font-size: 20px;
		font-weight: 400;		
	}
}

@media only screen and (min-width: 697px) and (max-width: 1200px) {
	header {
		display: flex;
		flex-flow: column nowrap;
		position: absolute;
		top: 32px;
		margin: 0px;
		width: auto;
		height: auto;
		background-color: black;
		opacity: 60%;
	}

	header a {
		text-decoration: underline;
	}

	header a:hover {
		color:rgb(235, 37, 103);
	}

	h1 {
		display: flex;
		margin: 10px 20px 10px 20px;
		line-height: 40px;
		font-size: 45px;
		font-weight: 400;
		text-align: left;
		color: lightgrey;
		width: 90%;
	}

	h2 {
		display: flex;
		flex-flow: row wrap;
		justify-content: left;
		width: 90%;
		font-size: 22px;
		font-weight: 400;
		font-style: italic;
		text-align: left;
		margin: 20px 20px 10px 20px;
		color: lightgrey;
	}

	.down > span {
		position: relative;
		top: 85vh;
		width: auto;
		height: auto;
		font-size: 100px;
		color: white;
		margin: 5px 10px;
		animation: bounce linear 1s infinite;
	}

	.menu-container {
		position: relative;
		top: 20%;
		display: flex;
		flex-flow: column wrap;
		min-width: 25%;
		max-width: 30%;
		height: auto;
		margin: 5px 40px;
		background-color: white;
		opacity: 80%;
		text-decoration: none;
	}
	
	.wine {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: left;
		text-align: left;
		margin: 10px 0px 20px 0px;
		color: lightgrey;
		font-size: 12px;	
		text-decoration: none;
		width: 98%;	
	}

	dt {
		font-size: 20px;
	}

	a > span {
		margin: 0px 10px 0px 0px;
	}

	a {
		text-align: left;
		align-self: flex-start;
		margin: 0px;
		color: lightgrey;
		font-size: 20px;	
		text-decoration: none;
		max-width: 95%;
	}

	.box-text-index-left > p {
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod
	}
	
	.box-text-index > p {
		text-align: justify;
		font-size: 24px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod
	}

	.box-text-index a {
		color: goldenrod;
		font-size: 24px;
		font-weight: 400;
		text-decoration: underline;
		margin: 0;
	}

	td {
		font-size: 24px;
		font-weight: 400;		
	}
}

@media only screen and (min-width: 1201px) and (max-width: 1660px) {
	header {
		display: flex;
		flex-flow: column nowrap;
		position: absolute;
		top: 32px;
		margin: 0px;
		width: 35%;
		height: auto;
		background-color: black;
		opacity: 60%;
	}

	header a {
		text-decoration: underline;
	}

	header a:hover {
		color:rgb(235, 37, 103);
	}

	h1 {
		display: flex;
		margin: 10px 20px 10px 20px;
		line-height: 40px;
		font-size: 45px;
		font-weight: 400;
		text-align: left;
		color: lightgrey;
		width: 90%;
	}

	h2 {
		display: flex;
		flex-flow: row wrap;
		justify-content: left;
		width: 90%;		/*90%*/
		font-size: 22px;
		font-weight: 400;
		font-style: italic;
		text-align: left;
		margin: 20px 20px 10px 20px;
		color: lightgrey;
	}

	.down > span {
		position: relative;
		top: 90vh;
		width: auto;
		height: auto;
		font-size: 100px;
		color: white;
		margin: 5px 10px;
		animation: bounce linear 1s infinite;
	}

	.menu-container {
		position: relative;
		top: 20%;
		display: flex;
		flex-flow: column wrap;
		min-width: 25%;
		max-width: 30%;
		height: auto;
		margin: 5px 40px;
		background-color: white;
		opacity: 80%;
		text-decoration: none;
	}
	
	.wine {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: left;
		text-align: left;
		margin: 10px 0px 20px 0px;
		color: lightgrey;
		font-size: 12px;	
		text-decoration: none;
		width: 90%;	
	}

	dt {
		font-size: 20px;
	}

	a > span {
		margin: 0px 10px 0px 0px;
	}

	a {
		text-align: left;
		align-self: flex-start;
		margin: 0px;
		color: lightgrey;
		font-size: 20px;	
		text-decoration: none;
		max-width: 95%;
	}

	.box-text-index-left > p {
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod
	}
	
	.box-text-index > p {
		text-align: justify;
		font-size: 24px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod
	}

	.box-text-index a {
		color: goldenrod;
		font-size: 24px;
		font-weight: 400;
		text-decoration: underline;
		margin: 0;
	}

	td {
		font-size: 24px;
		font-weight: 400;		
	}
}

@media only screen and (min-width: 1661px) {
	header {
		display: flex;
		flex-flow: column nowrap;
		position: absolute;
		top: 32px;
		margin: 0px;
		width: 35%;
		height: auto;
		background-color: black;
		opacity: 60%;
	}

	header a {
		text-decoration: underline;
	}

	header a:hover {
		color:rgb(235, 37, 103);
	}

	h1 {
		display: flex;
		margin: 10px 20px 10px 20px;
		line-height: 50px;
		font-size: 60px;
		font-weight: 400;
		text-align: left;
		color: lightgrey;
		width: 90%;
	}

	h2 {
		display: flex;
		flex-flow: row wrap;
		justify-content: left;
		width: 90%;
		font-size: 25px;
		font-weight: 400;
		font-style: italic;
		text-align: left;
		margin: 20px 20px 10px 20px;
		color: lightgrey;
	}

	.down > span {
		position: relative;
		top: 90vh;
		width: auto;
		height: auto;
		font-size: 100px;
		color: white;
		margin: 5px 10px;
		animation: bounce linear 1s infinite;
	}

	.menu-container {
		position: relative;
		top: 20%;
		display: flex;
		flex-flow: column wrap;
		min-width: 25%;
		max-width: 30%;
		height: auto;
		margin: 5px 40px;
		background-color: white;
		opacity: 80%;
		text-decoration: none;
	}
	
	.wine {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: left;
		text-align: left;
		margin: 10px 0px 20px 0px;
		color: lightgrey;
		font-size: 12px;	
		text-decoration: none;
		width: 90%;	
	}

	dt {
		font-size: 20px;
	}

	a > span {
		margin: 0px 10px 0px 0px;
	}

	a {
		text-align: left;
		align-self: flex-start;
		margin: 0px;
		color: lightgrey;
		font-size: 20px;	
		text-decoration: none;
		max-width: 95%;
	}

	.box-text-index-left > p {
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod
	}
	
	.box-text-index > p {
		text-align: justify;
		font-size: 24px;
		font-weight: 400;
		margin: 8px;
		color: goldenrod
	}

	.box-text-index a {
		color: goldenrod;
		font-size: 24px;
		font-weight: 400;
		text-decoration: underline;
		margin: 0;
	}

	td {
		font-size: 24px;
		font-weight: 400;		
	}
}

#arrow_down {
	animation-duration: 1.5s;
	animation-name: fade;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition-property: opacity;
	transition-duration: 1.5s;
}

@keyframes fade {
	from {opacity: 1.0;}
	50% {opacity: 0.1;}
	to {opacity: 1.0;}
}

.prologue {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0vh;
	margin: 0;
	padding: 0;
	align-items: center;
	background-color: black;
}

.box-text-index {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	text-align: justify;
	width: 90%;
	height: auto;
	margin: 60px auto 0px auto;
	color: goldenrod
}

.box-text-index-left {
	display: flex;
	flex-flow: column wrap;
	align-self: left;
	justify-content: left;
	text-align: left;
	width: 90%;
	height: auto;
	margin: 0px 5% 60px 5%;
	color: goldenrod
}
.box-text-index a:hover {
	color: rgb(235, 37, 103);
}

ol,ul {list-style:none;}

.slideshow,
.slideshow:after {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.slideshow li span {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 22s linear infinite 0s;
  -moz-animation: imageAnimation 22s linear infinite 0s;
  -o-animation: imageAnimation 22s linear infinite 0s;
  -ms-animation: imageAnimation 22s linear infinite 0s;
  animation: imageAnimation 22s linear infinite 0s;
}
.slideshow li div h3 {
  font-family: "helvetica neue", helvetica;
  text-transform: uppercase;
  font-size: 80px;
  padding: 0;
  line-height: 200px;
	color: rgba(255,255,255, 0.8);
}
.slideshow li:nth-child(2) span {
  background-image: url(https://kep.pince.eu/dia_1_IMG_9051.webp);
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}
.slideshow li:nth-child(3) span {
  background-image: url(https://kep.pince.eu/dia_2_P1070312.webp);
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}
.slideshow li:nth-child(4) span {
  background-image: url(https://kep.pince.eu/dia_3_P1070320.webp);
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
}
	
@-webkit-keyframes imageAnimation { 
	0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
	}
	8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
	}
	17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
	}
	50% {
    opacity: 0;
    -webkit-transform: scale(1.1);
	}
	100% {opacity: 0}
}
@-moz-keyframes imageAnimation { 
	0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
	}
	8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
	}
	17% {
    opacity: 1;
    -moz-transform: scale(1.1);
	}
	50% {
    opacity: 0;
    -moz-transform: scale(1.1);
	}
	100% {opacity: 0}
}
@-o-keyframes imageAnimation { 
	0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
	}
	8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
	}
	17% {
    opacity: 1;
    -o-transform: scale(1.1);
	}
	50% {
    opacity: 0;
    -o-transform: scale(1.1);
	}
	100% {opacity: 0}
}
@-ms-keyframes imageAnimation { 
	0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
	}
	8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
	}
	17% {
    opacity: 1;
    -ms-transform: scale(1.1);
	}
	50% {
    opacity: 0;
    -ms-transform: scale(1.1);
	}
	100% {opacity: 0}
}
@keyframes imageAnimation { 
	0% {
    opacity: 0;
    animation-timing-function: ease-in;
	}
	8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
	}
	17% {
    opacity: 1;
    transform: scale(1.1);
	}
	50% {
    opacity: 0;
    transform: scale(1.1);
	}
	100% {opacity: 0}
}

.no-cssanimations .slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	.slideshow li div h3 { font-size: 50px }
}
